.auth-container {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    background-color: var(--cibc-off-white);
}

.auth-card-container {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.auth-image-container {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

/* Specifics for the Login Page */
.login-card-container {
    background-color: var(--cibc-white);
}

.login-image-container {
    background-color: var(--cibc-red);
}

/* Specifics for the Register Page */
.register-card-container {
    background-color: var(--cibc-white);
}

.register-image-container {
    background-color: var(--cibc-red);
}

.auth-card {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
}

/* Adjustments for the image */
.auth-image-container img {
    max-width: 100%;
    height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    .auth-container {
        flex-direction: column;
        align-items: center;
    }

    .auth-card-container, .auth-image-container {
        flex-basis: 100%;
        width: 100%;
    }

    .auth-image-container {
        display: none; /* Hiding image on mobile for better user focus */
    }
}